* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #041c32;
    color: #f7e7ce;
}
.margin0 {
    margin: 0 !important;
}
.margin0:empty {
    display: none;
}

.card-body {
    margin: 0 !important;
}

.card-header {
    border-bottom: 1px solid #064663;
}

.dzona {
    height: 117px;
}

.card {
    background-color: #041c32;
    height: 280px;
    width: auto;
    border: solid 1px #064663;
}

.cardReg {
    background-color: #041c32;
    width: auto;
    border: solid 1px #064663;
}
.text-muted {
    color: #f0ebce !important;
}
.newsContent {
    margin: 30px;
}
.newsInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.newsText {
    margin-top: 20px;
}
.blek {
    color: #f0ebce;
}

/*#dropdown{*/
/*    position: absolute;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*left: 0;*/
    /*right: 0;*/
    /*text-align: center;*/
/*}*/
.mobileNav {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
    z-index: 100;
    background-color: #04293a;
    border-top: 1px solid #ecb365;
    color: #f7e7ce;
}

.mobileNav i {
    font-size: 28px;
}

.visit {
    display: flex;
    gap: 5px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}

.btn-primary {
    border: 1px solid #ecb365 !important;
}

.scrolling-wrapper1 {
    margin: -40px auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    height: calc(210px + 4rem);
    padding: 1, 3rem;
    max-width: 1000px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 0;
    margin-right: 20px;
}

.scrolling-wrapper1 > div {
    scroll-snap-align: center;
    height: 200px;
}

.scrolling-wrapper1 img {
    width: 340px;
    max-width: none;
    object-fit: contain;
    border-radius: 1rem;
    object-fit: cover;
    height: 200px;
}

.container {
    height: auto;
}

.scrolling-wrapper {
    margin: -40px auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    height: calc(210px + 1rem);
    padding: 1rem;
    max-width: 1000px;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    margin-bottom: 30px;
}

.scrolling-wrapper > div {
    scroll-snap-align: center;
    height: 200px;
}

.scrolling-wrapper img {
    width: 340px;
    max-width: none;
    object-fit: contain;
    border-radius: 1rem;
    object-fit: cover;
    height: 200px;
}

.smallArticle {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.smallArticle b {
    color: #f7e7ce;
}

.borderRadius {
    border-radius: 20px;
}

.smallArticle::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 16px;
    width: 100%;
    height: 101%;
    display: inline-block;
    background: -moz-linear-gradient(
        top,
        rgba(0, 47, 75, 0.5) 0%,
        white(220, 66, 37, 0.5) 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, white(220, 66, 37, 0.75)),
        color-stop(100%, rgba(0, 47, 75, 0))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        top,
        rgba(0, 47, 75, 0) 0%,
        rgba(0, 0, 0, 0.929) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
        top,
        rgba(0, 47, 75, 0.5) 0%,
        white(220, 66, 37, 0.5) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
        top,
        rgba(0, 47, 75, 0.5) 0%,
        rgba(247, 243, 242, 0.5) 100%
    ); /* IE10+ */
    background: linear-gradient(
        to bottom,
        rgba(0, 47, 75, 0) 0%,
        white(220, 66, 37, 0.75) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.widthHor {
    border-radius: 1rem;
}

.smallArtTitle {
    position: absolute;
    z-index: 10;
    color: white;
    padding: 10px;

    bottom: 0;
    left: 0;
}

.smallArtSrc {
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 8px;
    color: white;
}

.category nav ul li {
    color: #041c32;
}

.backBtn {
    position: absolute;
    top: 70px;
    width: 80px;
    height: 40px;
    display: none;
}

nav {
    margin-top: -8px;
    z-index: 100;
}

.navbar {
    background-color: #0a4275;
    height: 60px;
    padding-top: 13px;
    font-size: 18px;
}

nav a {
    color: white;
}
.singleMar {
    margin-top: 70px !important;
}

.centar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #064663;
}

.btn-sm {
    width: 50px;
    margin-left: 10px;
}

nav a {
    margin: 5px;
    text-transform: uppercase;
}

.forHorScroll1 {
    width: 250px;
}

.btnSearch {
    color: #f0ebce;
    border: #f0ebce 1px solid;
    border-radius: 50%;
}

.btnSearch:hover {
    background-color: white;
    color: #0a4275;
}

@media (max-width: 990px) {
    .navbar {
        margin-top: -7px;
    }
    .container {
        width: 80% !important;
        margin-bottom: 90px;
    }
    .navbar-brand {
        margin-top: 0;
        font-size: 1rem;
    }
    .navbar-toggler {
        background-color: #0a4275;
        margin-top: -6px;
    }
    .navbar-nav {
        margin-top: 300px;
        text-align: center;
        text-transform: uppercase;
        position: fixed;
        bottom: 60px;
    }
    .navbar-collapse {
        width: 100%;
    }
    nav a {
        text-align: center;
        border-bottom: 1px solid white;
        color: black;
    }
    .navbar-brand {
        border: none;
    }
    .smallArtTitle {
        /*margin: 0px;*/
        font-size: 16px !important;
    }

    .d-flex {
        /* position: absolute; */
        top: 0px;
        left: 50%;
        /* transform: translate(-50%, 10px); */
    }
    .reg {
        position: static !important;
        transform: translate(0, 0) !important;
    }

    .regTop {
        margin-top: -230px;
        height: 93% !important;
    }
    .nav-link {
        padding-bottom: 13px;
        color: black;
        font-weight: 600;
        padding: 13px;
    }
    .hamb {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 5px 0;
    }
}

@media (max-width: 1420px) {
    nav a {
        margin: 0px;
        font-size: 14px;
    }
}

@media (max-width: 1116px) {
    nav a {
        margin: 0px;
        font-size: 11px;
    }
}

@media (max-width: 520px) {
    .container {
        width: 95% !important;
    }
}

.listEl {
    background-color: #04293a;
    color: #f0ebce;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.litsEl:hover {
    transform: scale(1.2);
}

.categoriesBtn {
    display: inline-block;
    padding-top: 3px;
}

.category ul li {
    display: flex;
    justify-content: space-around;
    color: #f0ebce;
}

.nav-link {
    color: #f0ebce;
    display: flex;
    justify-content: center;
}

#category {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    /* position: absolute; */
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    transform: translateX(-0px);
    transition: transform 500ms ease-in-out;
    z-index: 15;
    top: 0;
    justify-content: center;
}

input[type="checkbox"]:checked ~ #category {
    transform: translateX(0);
}

input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
    padding-top: 3px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #f0ebce;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.searchPos {
    position: fixed;
    top: 5px;
    width: 98%;
    display: none;
    gap: 2px;
}

.searchPolje {
    border-radius: 40px;
    /*background-color: #f0ebce;*/
}

.logedIn {
    background-color: #04293a;
    border: none;
    color: #f7e7ce;
}
